.banner{
    width: 100%;
    height: 350px;
}
.bottom-line{
    height: 5px;
    margin: 0 auto;
    background: #3f51b5;
    text-align: center;
    width: 100px;
    
}
.about-header{
    text-align: center;
}

.sidenav {
    width: 200px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    margin-left: 10px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    line-height: 1.5;
  }
  .wine-details{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
  }
  .sidebar {
    flex: 0 0 20%;
  }

  .right-content{
      flex: 0 0 75%;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
      display: flex;
  }
  .active{
    background-color: #3f51b5 !important;
    color: white !important;
    cursor: pointer;
  }

  a{
    cursor: pointer;
  }
  .producer{
    margin: 20px;
  }
  .right-content-subsection{
    margin: 20px;
    width: 100%;
  }

  .user-review-card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px
  }
  .user-review-pic {
    flex: 0 0 30%;
  }
 .user-review-info {
    flex: 0 0 70%;
    background-color: #ebebeb;
    padding: 20px;
  }