.navbar{
	height: 50px;
	background: white;
	color: black;
	display: flex;
	flex-wrap: wrap;
	.logo {
		flex: 0 0 70%;
		.hamburger {
			position: absolute;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		    width: 40px;
		    height: 40px;
		    border: 1px solid #3f51b5;
		    border-radius: 5px;
		    cursor: pointer;
		    .hamburger-menu{
		    	margin: auto;
		    	width: 80%;
		    	height: 3px;
		    	background: #3f51b5;
		    	margin-top: 7px;
		    }
		}
	}
	.menu-links {
		flex: 0 0 30%;

		ul > li {
			list-style-type: none;
			display: inline-block;
			margin-right: 30px;
		}
		ul > li > a {
			color: grey;
		}
		ul > li > a:hover {
			color: #3f51b5;
		}
	}
}


















