.navbar{
	height: 50px;
	background: #3f51b5;
	color: white;
	display: flex;
	flex-wrap: wrap;
	.logo {
		flex: 0 0 60%;
		.logo-img {
			height: 40px;
			position: absolute;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		}
	}
	.menu-links {
		flex: 0 0 40%;

		ul > li {
			list-style-type: none;
			display: inline-block;
			margin-right: 30px;
		}
	}
}


















